.custom-textarea {
  border-radius: 50px;
  border: solid;
  background-color: transparent;
  color: black;
  resize: none;
  width: 100%;
  padding: 12px;
  line-height: 10px;
  border-color: black;
  outline: none;
  padding-left: 10px;
  height: 40px;
  overflow: hidden;
}
