
.input-container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.input-machine:active~.input-label {
  top: 0px;
}
.input-machine{
  padding-left: 10px;
  background-color: transparent;
}

.input-label {
  position: absolute;
  left: 10px;
  background-color: transparent;
  width: 100px;
  margin: 0;
  padding: 0;
  top: 33%;
  font-size: 16px;

  -webkit-transition:top 1s ease, left 1s, font-size 2s ease, background-color 1s ease;
  -moz-transition:top 1s ease, left 1s, font-size 2s;
   -ms-transition:top 1s ease, left 1s, font-size 2s;
    -o-transition:top 1s ease, left 1s, font-size 2s;
       transition:top 1s ease, left 1s, font-size 2s;
}

.input-container:hover,
.input-container:focus {
  .input-label {
    top: 10%;
    text-align: center;
    font-size: 12px;
    left: 10px;
    background-color: rgb(254, 215, 170 /1);
  }
}

.input-container > input {
  color: black;
  border: solid;
  border-radius: 50px;
  background-color: transparent;
  height: 40px;
  border-color: black;
}
.input-container > label {
  color: black;
  user-select: none;
}

.input-label-active {
  position: absolute;
  left: 10px;
  background-color: rgb(254, 215, 170 /1);
  width: 100px;
  top: 10%;
  text-align: center;
  font-size: 12px;
  margin: 0;
  padding: 0;
}