.productTable{
  
    width: 100%;
    border: 1px solid #000;
    background-color: rgba(228, 231, 225, 0.726);
   
    th {
      
      text-align: left;
      vertical-align: top;
      border: 2px solid #000;
   }
     
      td {
        
        text-align: left;
        vertical-align: top;
        border: 2px solid #000;
     }
}

.h1Tittle{
   color: rgb(255, 255, 255);
   text-align: center;
   font-size: 40px;
   
}

.tbackcolor{
   border-top-left-radius: inherit;
   border-top-right-radius: inherit;
   background-color: rgba(5, 4, 4, 0.829);
}

