.productTable{
   background-color: aliceblue;
    width: 100%;
    border: 1px solid #000;
    background-color: rgba(212, 221, 202, 0.726);
   
    th {
      width: 25%;
      text-align: left;
      vertical-align: top;
      border: 2px solid #000;
   }
     
      td {
        width: 25%;
        text-align: left;
        vertical-align: top;
        border: 2px solid #000;
     }
}

.h1{

   text-align: center;
   font-size: 40px;
}

.tbackcolor{
   border-top-left-radius: inherit;
   border-top-right-radius: inherit;
   background-color: rgb(92, 90, 207);
}