
.btn-material:hover,
.btn-material:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #15908a;
}

.btn-material:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: #0cbdba;
}


.h1 {
  margin-bottom: 2.5rem;
  font-size: xx-large;
}

.form-product__container {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.form-product__container--forms>div {
  height: 100%;
  display: flex;
  align-items: center;
}

.form-product__container--forms>div>input {
  border: solid;
  border-radius: 50px;
  background-color: transparent;
  height: 40px;
}

.form-product__container--forms>div>label {
  user-select: none;
}

/* input::placeholder{
  color:red
} */



.input-container {
  position: relative;
}

.input-machine:active~.input-label {
  top: 0px;
}

.input-machine {
  padding-left: 10px;
}

.input-label {
  position: absolute;
  left: 10px;
  background-color: transparent;
  width: 100px;
  margin: 0;
  padding: 0;
  top: 30%;
  font-size: 16px;

  -webkit-transition: top 1s ease, left 1s, font-size 2s ease, background-color 1s ease;
  -moz-transition: top 1s ease, left 1s, font-size 2s;
  -ms-transition: top 1s ease, left 1s, font-size 2s;
  -o-transition: top 1s ease, left 1s, font-size 2s;
  transition: top 1s ease, left 1s, font-size 2s;
}

.input-container:hover,
.input-container:focus {
  .input-label {
    top: 3px;
    text-align: center;
    font-size: 12px;
    left: 10px;
    background-color: rgb(254, 215, 170 /1);
  }
}

.input-label-active {
  position: absolute;
  left: 10px;
  background-color: rgb(254, 215, 170 /1);
  width: 100px;
  top: 3px;
  text-align: center;
  font-size: 14px;
  margin: 0;
  padding: 0;
}