
.AppStyle {
    display: flex;
    flex-direction:column;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    height: 100%
  };
  
  .formStyle {
    display: flex;
    flex-direction: column
  };
  
  .inputStyle {
    color:black;
    background-color: transparent;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 30px;
    border: 0;
    border-bottom: 1px solid #eee;
    box-shadow: 1px 1px 6px gray
  };

  .label-style{
    color: black;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 20px;
  }