@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

body{
  font-style: italic;
  overflow: hidden;
  height: 100%;
  
}


.navbar {
  background-color: light ;
  padding: 1rem 10rem;
  border-bottom: 3px solid #e7e9eb;
  
}


