
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Rubik', sans-serif;
}

.icono{
  display:flex;
}


.flex{
  display: flex;
}

.navbar {
  background-color: #a8a29e ;
  padding: 1rem 2rem;
  border-bottom: 3px solid ;
}

.sidebar{
  background-color: #a8a29e ;
  width: 14rem;
  height: calc(100vh - 52px);
  border-right: 3px solid black;
  padding-top : 20px;
  padding-left: 30px;
  ul{
    list-style: none;
    padding: 1rem 2 rem;
      li{
        margin-bottom: 3rem;
        a{
          text-decoration: none;
        }
      }
  }
}